body {
    display:block;
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    line-height: 1.5;
}
header {
    background-color: maroon;
    height: 100%;
    width: 100%;
    border-bottom: 10px solid white;
}

img {
    padding: 10px;
    border: 10px solid maroon;

}

h1 {
    margin-left: 5px;
    font-size:45px;
}

nav ul li {
    display:inline-block;
    text-decoration: none;
    position: relative;
    left: 60%;
}

a:link, a:visited {
    background-color: maroon;
    color: white;
    text-decoration: underline;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

h2 {
    margin-left: 200px;
    font-size: 35px;
}

.about-me {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    width: 50%;
    height: 20%;
    background-color: maroon;
    padding: 5px;
    border: 10px solid white;
    position: relative;
    left: 25%;
    right: 25%;
}

#html {
    position:relative;
    left: auto;
    border-radius: 0%;
    height: 100%;
    width: 100%;
}
#wedding {   
    position: relative;
    left:40%;
    padding: 10px;
    border: 10px solid maroon;
    border-radius: 50%;
    height: 15%;
    width: 15%;
}

.class, img:hover {
    border: 10px solid white;
    opacity: 0.5;
    cursor: grab;
}