body {
    display:block;
    background-color: maroon;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    line-height: 1.5;
    padding: 15px;
    border: 20px solid black;
    margin: solid black;
}

header {
    background-color: black;
    margin: 0;
    height: 100%;
    width: 100%;
    border-bottom: 10px solid white;
}

img {
    padding: 10px;
    border: 15px solid black;
    margin: 10px;
}

h1 {
    margin-left: 5px;
    font-size:45px;
}

nav ul li {
    display:inline-block;
    text-decoration: none;
    position: relative;
    left: 60%;
}

h2 {
    margin-left: 150px;
    font-size: 35px;
}

footer {
    background-color: black;
    height:100%;
    width: 100%;
    border-top: 10px solid white;
    margin-bottom: 0;
}

.about-me {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    width: 50%;
    height: 20%;
    background-color: black;
    padding: 5px;
    border: 10px solid white;
    position: relative;
    left: 25%;
    right: 25%;
}

.work {
    list-style: none;
    display: flex;
    position: relative;
    flex-direction: row;
    width: 25%;
    height: 25%;
    justify-content: space-between;
    margin-top: 60px;
    margin-left: 15%;
}

.bl2 {
    position: relative;
    bottom: 32%;
    left: 8%;
    z-index: index 1;
    background-color: black;
    width:fit-content;
    color: white;
}

.container{
    position: relative;

}

.bottom-left {
    position: absolute;
    bottom: 2%;
    left: 27.75%;
    z-index: index 1;
    background-color: black;
    width:fit-content;
    color: white;
}

.contact {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
}

.work, #java {
    width: 63%;
    height: 63%;

}

#html {
    display: flex;
    position: relative;
    margin-left: 25%;
    height: 100%;
    width: 100%;

}

#nudge {
    margin-left: 3%;
}

#wedding {   
    position: relative;
    left:40%;
    padding: 10px;
    border: 15px solid black;
    border-radius: 50%;
    height: 15%;
    width: 15%;
}

a:link, a:visited {
    color: white;
    text-decoration: underline;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.links, img:hover {
    border: 15px solid white;
    opacity: 0.5;
    cursor: grab;
}

#wedding:hover {
    opacity: 1;
}

@media screen and (max-width:480px) { body { 
    background-color: black;
}
}

@media screen and (max-width:480px) { img {
    border: 10px solid limegreen;
}
}

@media screen and (max-width:480px) { header, footer {
    display:flex;
    flex-wrap: wrap;
    background-color: limegreen;
    color:black;
    font-size: 18px;
}
}

@media screen and (max-width:480px) { nav {
    position:relative;
    right:50%;
}
}

@media screen and (max-width:480px) { #html #css, .about-me {
    display:flex;
    justify-content: center;
    height: 50%;
    width: 50%;
    font-size:16px;
}

}
@media screen and (max-width:480px) { .bottom-left, .bl2{
    font-size: 16px;
    margin-left: 18px;
}
}

@media screen and (max-width:480px) { .work {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 60%;
    justify-content: center;
}
}

@media screen and (max-width:480px) { .bl2 {
    bottom: 75px;
    margin-left: 10px;
}
}

@media screen and (max-width:480px) { #react {
    height: 60%;
    width: 60%;
}
}