body {
    display:block;
    background-color: maroon;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    line-height: 1.5;
}
header {
    background-color: black;
    height: 100%;
    width: 100%;
    border-bottom: 10px solid white;
}

img {
    padding: 10px;
    border: 15px solid black;
    margin: 10px;
}

h1 {
    margin-left: 5px;
    font-size:45px;
}

nav ul li {
    display:inline-block;
    text-decoration: none;
    position: relative;
    left: 60%;
}

a:link, a:visited {
    color: white;
    text-decoration: underline;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

h2 {
    margin-left: 200px;
    font-size: 35px;
}

.about-me {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    width: 50%;
    height: 20%;
    background-color: black;
    padding: 5px;
    border: 10px solid white;
    position: relative;
    left: 25%;
    right: 25%;
}
.work {
    list-style: none;
    display: flex;
    position: relative;
    flex-direction: row;
    width: 25%;
    height: 25%;
    justify-content: space-evenly;
    margin-top: 60px;
    margin-left: 15%;
}
.container{
    position: relative;

}
.bottom-left {
    position: absolute;
    bottom: 2%;
    left: 27.75%;
    z-index: index 1;
    background-color: black;
    width:fit-content;
    color: white;
}

.work, #java {
    width: 63%;
    height: 63%;

}

#html {
    display: flex;
    position: relative;
    margin-left: 25%;
    height: 100%;
    width: 100%;

}
#wedding {   
    position: relative;
    left:40%;
    padding: 10px;
    border: 15px solid black;
    border-radius: 50%;
    height: 15%;
    width: 15%;
}


.links, img:hover {
    border: 15px solid white;
    opacity: 0.5;
    cursor: grab;
}

#wedding:hover {
    opacity: 1;
}